@model ITIprojectDb.Models.Instructor
@{
    ViewData["Title"] = "Instructor";
}

<div class="pagetitle">
    <h1>Instructors</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Instructor</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Index">Back To List</a></h5>
                    <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
                </div>
            </div>
            @if(TempData["failed"]!=null)
            {
                <input type="hidden" id="test" value=@TempData["Failed"]  onchange="display()" />
            }


            <script>
                    function display()
                    {
                        var test=document.getElementById("test").value;
                        alert(test)
                    }
            </script>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>
</section>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
