@model ITIprojectDb.Models.Course

@{
    ViewData["Title"] = "Courses";
}

<div class="pagetitle">
    <h1>Courses</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Course</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Index">Back To List</a></h5>

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="tox-form-group">
                            <label asp-for="Hours" class="control-label"></label>
                            <input asp-for="Hours" class="form-control" />
                            <span asp-validation-for="Hours" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InstructorId" class="control-label"></label>
                            <select class="form-control" asp-for="InstructorId" asp-items="@ViewBag.MyList">
                                <option value="">Select Instructor </option>
                            </select>
                            <span asp-validation-for="InstructorId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>
</section>
